<div>
    <table>
      <thead>
        <tr>
          <th [matTooltip]="row" *ngFor="let row of fields; let i = index" [class.first-td]="i === 0">{{row}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of view">
            <td *ngFor="let value of row.values; let i = index" [class.first-td]="i === 0">
                <span>{{value}}</span>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
