<textarea #textAreaStock matInput name="text" [(ngModel)]="textInput" (ngModelChange)="textAreaChange()"></textarea>

<div>
    <button (click)="onGetStock()">Get Stock</button>
    <button (click)="sendIncome()">Income</button>
    <button (click)="sendBalance()">Balance</button>
    <button (click)="sendCashFlow()">Cash Flow</button>
    <button (click)="sendEarningsDate()">Earnings</button>
    <button (click)="calculateQuarter()">Calculate  Quarter</button>
    <button (click)="onGetDailyInfo()">Set Daily Prices</button>
    <button (click)="calculateDaily()">Calculate Daily</button>
    <button (click)="saveStock()">Save</button>
</div>
<div>
    <button (click)="logStock()">Log</button>
    <button (click)="logDaily()">Log Daily</button>
    <button (click)="clearTextArea()">Clear</button>
    <button (click)="deleteStock()">Delete</button>
</div>

<app-dropdown-fields [object]="stock?.lastPrice" [stockSymbol]="stock?.symbol" (fieldsSelected)="onDailyFieldsSelectedChange($event)"></app-dropdown-fields>
<app-financials-table [stockData]="stock" (fieldsSelected)="onQuarterFieldsSelectedChange($event)"></app-financials-table>  
<app-graph-stock></app-graph-stock>   

