table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  thead {
    th {
      max-width: 100px;
      overflow: hidden;
    }
  }
  
  th {
    cursor: pointer;
    text-wrap: nowrap;
    background-color: #f2f2f2;
  }

  .sticky-column {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    left: 0;
    background-color: #f9f9f9;
    z-index: 1; /* Ensure it appears above other cells */
  }

  .tooltip {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 10;
    top: 0; /* Position above the header */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
  
  th:hover .tooltip {
    visibility: visible;
  }