<table>
    <thead>
      <tr>
        <th *ngFor="let field of fields; let i = index" (click)="sortBy(field)" [ngClass]="{'sticky-column': i === 0}">
          <span class="header-text">{{ formatField(field) + (sortField === field ? sortOrder === 'asc' ? ' ▲' : ' ▼' : '')}}</span>
          <span class="tooltip">{{ field }}</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stocks">
        <td *ngFor="let field of fields; let i = index" [ngClass]="{'sticky-column': i === 0}">{{ getNestedValue(stock, field) }}</td>
      </tr>
    </tbody>
  </table>
