

.main-info {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 20px;

    .main-info-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        gap: 20px;
    }
}