<div class="header">
    <span>{{symbol}}</span>
    <mat-icon [svgIcon]="'symbol:' + symbol"></mat-icon>
</div>
<mat-tab-group animationDuration="0ms" *ngIf="stock">
    <mat-tab label="Overview"> 
        <div class="detail-container">
            <div class="main-info">
                <div class="main-info-container">
                    <app-stats [field]="'evData.revenuesLtm'" [data]="stock?.actualPrice"></app-stats>
                    <app-stats [field]="'evData.grossProfitLtm'" [data]="stock?.actualPrice"></app-stats>
                    <app-stats [field]="'evData.operatingIncomeLtm'" [data]="stock?.actualPrice"></app-stats>
                    <app-stats [field]="'evData.netIncomeLtm'" [data]="stock?.actualPrice"></app-stats>
                    <app-stats [field]="'evData.ebitdaLtm'" [data]="stock?.actualPrice"></app-stats>
                    <app-stats [field]="'evData.freeCashFlowLtm'" [data]="stock?.actualPrice"></app-stats>
                </div>
                <app-stats-quarter [field]="'revenuesData'" [dataQuarter]="stock.actualQuarter"></app-stats-quarter>
                <app-stats-quarter [field]="'grossProfitData'" [dataQuarter]="stock.actualQuarter"></app-stats-quarter>
                <app-stats-quarter [field]="'operatingIncomeData'" [dataQuarter]="stock.actualQuarter"></app-stats-quarter>
                <app-stats-quarter [field]="'netIncomeData'" [dataQuarter]="stock.actualQuarter"></app-stats-quarter>
                <app-stats-quarter [field]="'ebitdaData'" [dataQuarter]="stock.actualQuarter"></app-stats-quarter>
                <app-stats-quarter [field]="'freeCashFlowData'" [dataQuarter]="stock.actualQuarter"></app-stats-quarter>
                <app-stats-quarter [field]="'sharesData'" [dataQuarter]="stock.actualQuarter"></app-stats-quarter>      
            </div>
        
        </div>
    </mat-tab>
    <mat-tab label="Financials"> 
        <div class="table-container">
            <app-financials-table [stockData]="stock" (fieldsSelected)="onQuarterFieldsSelectedChange($event)"></app-financials-table>   
        </div>
    </mat-tab>
    <mat-tab label="Valuation">
        <app-expandable-table [info]="tableInfo" (fieldsSelected)="onPriceFieldsSelectedChange($event)"></app-expandable-table>
     </mat-tab>
     <mat-tab label="Next Q">
        <app-est-quarter [stats]="estNextQList"></app-est-quarter>
     </mat-tab>
  </mat-tab-group>
  <app-graph-stock></app-graph-stock>  




