<mat-card class="calculator-container">
    <div class="inputs">
        <div class="input">
            <mat-label>Actual Price</mat-label>
            <input class="input-field" [type]="'number'" [(ngModel)]="price" (change)="updateCalculation()">
        </div>
        <div class="input">
            <mat-label>Years To Project</mat-label>
            <input class="input-field" [type]="'number'" [(ngModel)]="yearsToProject" (change)="updateCalculation()">
        </div>
        <div class="input">
            <mat-label>Metric Growth Rate</mat-label>
            <input class="input-field" [type]="'number'" [(ngModel)]="metricGrowthRate" (change)="updateCalculation()">
        </div>
        <div class="input">
            <mat-label>Price Ratio</mat-label>
            <input class="input-field" [type]="'number'" [(ngModel)]="priceRatioAvg" (change)="updateCalculation()">
        </div>
        <div class="input">
            <mat-label>Actual Price Ratio</mat-label>
            <input class="input-field" [type]="'number'" [(ngModel)]="actualPriceRatio" (change)="updateCalculation()">
        </div>
    </div>
    <div class="results">
        <div class="result">
            <span class="title">Fair Value</span>
            <div class="result-value">
                <span class="value">{{fairValue}}</span>
                <span class="growth" [ngClass]="{'positive': fairValueGrowth > 0}">{{fairValueGrowth}} %</span>
            </div>
        </div>
        <div class="result">
            <span class="title">Future price</span>
            <div class="result-value">
                <span class="value">{{futurePrice}}</span>
                <span class="growth" [ngClass]="{'positive': futurePriceGrowth > 0}">{{futurePriceGrowth}} %</span>
            </div>
        </div>
        <div class="result">
            <span class="title">CAGR</span>
            <span class="value">{{cagr}} %</span>
        </div>
    </div>
</mat-card>