<mat-toolbar class="header">
  <div class="options">
    <button class="button" [disabled]="actualRoute === 'stocks-view'" (click)="navigate('/stocks-view')">Stocks View</button>
    <button class="button" [disabled]="actualRoute === 'stock-admin'" (click)="navigate('/stock-admin')">Stock Admin</button>
    <button class="button" [disabled]="actualRoute === 'stock-utils'" (click)="navigate('/stock-utils')">Stock Utils</button>
  </div>
  <div class="options">
    <form class="example-form">
      <mat-form-field class="input-field">
        <input  #input
        type="text"
               placeholder="Search"
               matInput
               [formControl]="myControl"
               (input)="filter()"
               (focus)="filter()"
               (keydown.enter)="onOptionClicked(null)"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions" [value]="option"
           (click)="onOptionClicked(option)">{{option}}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <app-datepicker></app-datepicker>
  </div>
  </mat-toolbar>
  
