@import '../../styles/variables.scss';

mat-toolbar.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px !important;
    padding: 10px;
    border-bottom: 1px solid black;

    .options {
      display: flex;
      gap: 10px;
      align-items: center;
    }
}