<mat-form-field class="input-field">
    <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="dateChange($event)">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
