// General Variables
$tooltip-opacity-invisible: 0;
$tooltip-opacity-visible: 1;
$tooltip-transition: 0.3s;

// Font sizes
$small-font-size: 11px;
$default-font-size: 12px;
$extended-font-size: 14px;
$default-font-size-new: 16px;
$medium-font-size: 13px;

// Input field width values
$width-sm: 70px;
$width-md: 90px;
$width-lg: 125px;
$width-xl: 200px;

$theme-colors: (
  primary: #78ABA8,   // Blue
  secondary: #EF9C66, // Green
  success: #27ae60,   // Dark Green
  danger: #e74c3c,    // Red
  warning: #f39c12,   // Orange
  info: #8e44ad,      // Purple
  light: #f7f7f7,     // Light Grey
  dark: #2c3e50,      // Dark Blue
  disabled-bg: #bdc3c7, // Light grey for disabled state
  disabled-text: #7f8c8d // Dark grey for disabled text
);
