@import '../../node_modules/@angular/material/theming';

$stock-font-family: 'HelveticaNeue, FuturaRound-Light';
$berth-font-family-alt: 'Helvetica';
$berth-font-family-menu-item: 'FuturaRound-Light', serif;
$stock-display-4: mat-typography-level(11px, normal, normal); // instances agenda
$stock-display-3: mat-typography-level(13px, 13px, 400);      // font Icons 2: Info
$stock-display-2: mat-typography-level(18px, 18px, 400);      // font Icons
$stock-display-1: mat-typography-level(16px, 16px, 300);      // App title
$stock-headline: mat-typography-level(18px, 18px, 300);
$stock-title: mat-typography-level(18px, 18px, 300);          // dialog titles
$stock-subheading-2: mat-typography-level(12px, 12px, 400);
$stock-subheading-1: mat-typography-level(14px, 24px, 400);   // default Carrier Icons
$stock-body-2: mat-typography-level(10px, 12px, 500);         // tooltip grid bollards
$stock-body-1: mat-typography-level(12px, 12px, 400);         // checkbox labels, table cells, instances-agenda-dates
$stock-caption: mat-typography-level(12px, 12px, 400);
$stock-button: mat-typography-level(12px, 12px, 500);         // buttons
// Line-height must be unit-less fraction of the font-size.
$stock-input: mat-typography-level(12px, 1.125, 400);         // inputs

$stock-typography: mat-typography-config(
    $stock-font-family,
    $stock-display-4,
    $stock-display-3,
    $stock-display-2,
    $stock-display-1,
    $stock-headline,
    $stock-title,
    $stock-subheading-2,
    $stock-subheading-1,
    $stock-body-2,
    $stock-body-1,
    $stock-caption,
    $stock-button,
    $stock-input);

@include mat-core($stock-typography);

/*Define the palettes for your theme using the Material Design palettes available in palette.scss
(imported above). For each palette, you can optionally specify a default, lighter, and darker
hue. Available color palettes: https://www.google.com/design/spec/style/color.html*/

$stock-primary-palette: (
  50: #ffffff,
  100: #f7f7f7,
  150: #fefefe,
  200: #f1f1f1,
  250: #e9e9e9,
  300: #ededed,
  350: #dddddd,
  400: #dddee0,
  450: #d3d3d3,
  500: #bbbbbb,
  600: #919091,
  700: #7f7d7f,
  800: #7f7f7f,
  820: #6f6f6f,
  850: #555555,
  855: #545454,
  860: #001c38,
  900: #000000,
  A100: #000000,
  A200: #000000,
  A400: #000000,
  A600: #666666,
  A700: #000000,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$stock-accent-palette: (
  10: #00a3e6,
  30: #15abec,
  50: #005cbe,
  60: #0959b5,
  70: #1aa78c,
  100: #7ac142,
  150: #7ed321,
  200: #fff576,
  250: #f6ff4f,
  300: #dbcc13,
  350: #cee5dd,
  400: #ff94a1,
  450: #fde6b7,
  500: #d0021b,
  540: #ff8c00,
  550: #d78600,
  600: #b8e986,
  650: #c7e9a4,
  700: #5eb300,
  800: #bd10e0,
  820: #586b80,
  850: #55687e,
  860: #001c38,
  900: #000000,
  950: #e5eef8,
  960: #fcedff,
  970: #fbf2e5,
  980: #fffce8,
  A100: #ffe8b7,
  A200: #dde5a7,
  A400: #d4ece4,
  A700: #e3f2ff,
  A800: #576b81,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    950: $white-87-opacity,
    960: $white-87-opacity,
    970: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$stock-warn-palette: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336,
  600: #e53935,
  700: #d32f2f,
  800: #D0021B,
  900: #A50014,
  A100: #000000,
  A200: #000000,
  A400: #000000,
  A700: #000000,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$stock-primary: mat-palette($stock-primary-palette);
$stock-accent: mat-palette($stock-accent-palette, 100, 50, 200);
$stock-warn: mat-palette($stock-warn-palette);

$stock-background: (
  status-bar: map_get($mat-grey, 300),
  app-bar: map_get($stock-primary-palette, 200),
  background: map_get($stock-primary-palette, 200),
  hover: map_get($stock-primary-palette, 300),
  card: map_get($stock-primary-palette, 50),
  dialog: map_get($stock-primary-palette, 100),
  disabled-button: map_get($stock-primary-palette, 200),
  raised-button: map_get($stock-primary-palette, 50),
  focused-button: map_get($stock-primary-palette, 50),
  selected-button: map_get($stock-accent-palette, 50),
  selected-disabled-button: map_get($stock-primary-palette, 200),
  disabled-button-toggle: map_get($stock-primary-palette, 200),
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: map_get($stock-primary-palette, 200),
);

$stock-foreground: (
  base: map_get($stock-primary-palette, 900),
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: map_get($stock-primary-palette, 200),
  disabled-text: map_get($stock-primary-palette, 400),
  hint-text: $dark-disabled-text,
  secondary-text: $dark-secondary-text,
  icon: map_get($stock-primary-palette, 600),
  icons: map_get($stock-primary-palette, 600),
  text: map_get($stock-primary-palette, 900),
  slider-min: rgba(black, 0.87),
  slider-off: rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
);

$stock-theme: map-merge(mat-light-theme($stock-primary, $stock-accent, $stock-warn), (foreground: $stock-foreground, background: $stock-background));

@include angular-material-theme($stock-theme);
