<mat-card class="stats-details">
    <mat-card-content>
        <div class="main-value">
            <span class="field">{{ field }}</span>
            <span class="field">{{ value }}</span>
        </div>
      <mat-table [dataSource]="stats">
        <ng-container matColumnDef="period">
          <mat-header-cell *matHeaderCellDef> Period </mat-header-cell>
          <mat-cell *matCellDef="let stat"> {{ stat.period }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="avg">
          <mat-header-cell *matHeaderCellDef> Average </mat-header-cell>
          <mat-cell *matCellDef="let stat"> {{ stat.avg }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="max">
          <mat-header-cell *matHeaderCellDef> Max </mat-header-cell>
          <mat-cell *matCellDef="let stat"> {{ stat.max }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="min">
          <mat-header-cell *matHeaderCellDef> Min </mat-header-cell>
          <mat-cell *matCellDef="let stat"> {{ stat.min }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="percentageDiff">
          <mat-header-cell *matHeaderCellDef> Diff Avg (%) </mat-header-cell>
          <mat-cell *matCellDef="let stat"> {{ stat.percentageDiff | number: '1.0-2' }}% </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>