.stats-container {
  margin-bottom: 16px;
}

.main-value {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.field {
  font-weight: bold;
}

.stats-details {
  margin-top: 16px;
}