.calculator-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    .calculator {
        display: flex;
        gap: 50px;
    }

    .toggle {
        display: flex;
        gap: 10px;
    }

    .results {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 140px;

        .result {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6px;
            border: 2px solid;
            border-radius: 8px;
            padding: 6px;

            .title {
                font-weight: bold;
            }

            .result-value {
                display: flex;
                flex-direction: row;
                gap: 10px;

                .growth {
                    color: red;

                    &.positive {
                        color: green;
                    }
                }
            }
        }
    }

    .inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .input {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            mat-label {
                width: 150px;
            }
    
            input {
                width: 90px;
            }
        }


    }
}