<mat-card class="calculator-container">
    <div class="toggle">
        <span>Ending Value</span>
        <mat-slide-toggle [(ngModel)]="cagrMode" (toggleChange)="onToggleChange()"></mat-slide-toggle>
        <span>CAGR</span>
    </div>
    <div class="calculator">
        <div class="inputs">
            <div class="input">
                <mat-label>Initial Value</mat-label>
                <input class="input-field" [type]="'number'" [(ngModel)]="initialValue" (change)="updateCalculation()">
            </div>
            <div class="input">
                <mat-label>Years To Project</mat-label>
                <input class="input-field" [type]="'number'" [(ngModel)]="yearsToProject" (change)="updateCalculation()">
            </div>
            <div class="input" *ngIf="!cagrMode">
                <mat-label>CAGR</mat-label>
                <input class="input-field" [type]="'number'" [(ngModel)]="cagr" (change)="updateCalculation()">
            </div>
            <div class="input" *ngIf="cagrMode">
                <mat-label>Ending Value</mat-label>
                <input class="input-field" [type]="'number'" [(ngModel)]="endingValue" (change)="updateCalculation()">
            </div>
        </div>
        <div class="results">
            <div class="result" *ngIf="!cagrMode">
                <span class="title">Ending Value</span>
                <div class="result-value">
                    <span class="value">{{endingValueResult}}</span>
                </div>
            </div>
            <div class="result" *ngIf="cagrMode">
                <span class="title">CAGR</span>
                <span class="value">{{cagrResult}} %</span>
            </div>
            <div class="result">
                <span class="title">Growth</span>
                <span class="value">{{growth}} %</span>
            </div>
        </div>
    </div>

</mat-card>
