
  <mat-card class="card">
    <mat-card-title>{{field}}</mat-card-title>
    <mat-table [dataSource]="[data]">
      <ng-container matColumnDef="metric">
        <mat-header-cell *matHeaderCellDef> Metric </mat-header-cell>
        <mat-cell *matCellDef="let element"> Current </mat-cell>
      </ng-container>
      <ng-container matColumnDef="growth">
        <mat-header-cell *matHeaderCellDef> Growth (%) </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.growth}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="perShareGrowth">
        <mat-header-cell *matHeaderCellDef> Per Share Growth (%) </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.perShareGrowth}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="ltmGrowth">
        <mat-header-cell *matHeaderCellDef> LTM Growth (%) </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ltmGrowth}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="ltmPerShareGrowth">
        <mat-header-cell *matHeaderCellDef> LTM Per Share Growth (%) </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ltmPerShareGrowth}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-table [dataSource]="fullStats">
      <ng-container matColumnDef="period">
        <mat-header-cell *matHeaderCellDef> Period </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          {{ i === 0 ? 'Last Year' : i === 1 ? 'Last 3 Years' : i === 2 ? 'Last 5 Years' : 'Full' }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="growthAvg">
        <mat-header-cell *matHeaderCellDef> Growth Avg (%) </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.growthAvg}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="perShareGrowthAvg">
        <mat-header-cell *matHeaderCellDef> Per Share Growth Avg (%) </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.perShareGrowthAvg}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="ltmGrowthAvg">
        <mat-header-cell *matHeaderCellDef> LTM Growth Avg (%) </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ltmGrowthAvg}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="ltmPerShareGrowthAvg">
        <mat-header-cell *matHeaderCellDef> LTM Per Share Growth Avg (%) </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ltmPerShareGrowthAvg}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumnsAvg"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsAvg;"></mat-row>
    </mat-table>
  </mat-card>
  