.zoom {
    fill: #f7f7f7;
}



.graph-component {
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: row;
    background: white;

    .options {
        display: flex;
        flex-direction: column;
        width: 80px;
        padding-left: 30px;

        .scale-options {
            display: flex;
            flex-direction: column;
            height: 650px;
            justify-content: space-between;
            padding: 40px 0;
        }

        .apply-options {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    .graph-container {
        width: 100%;
        height: 600px;
    }
}