<div class="graph-component">
    <div class="options">
        <div class="scale-options">
            <input class="input-field" [type]="'number'" [(ngModel)]="maxScaleNumber">
            <input class="input-field" [type]="'number'" [(ngModel)]="minScaleNumber">
        </div>
        <div class="apply-options">
            <button class="button" (click)="applyScales()">Apply</button>
            <button class="button" (click)="reset()">Reset</button>
        </div>
    </div>
    <div #graphDiv class="graph-container"></div>
</div>

