<div>
  <table>
    <thead>
      <tr *ngFor="let row of tableInfo?.headerInfoList">
        <th *ngFor="let value of row.values; let i = index" [class.first-td]="i === 0">{{value}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableInfo?.bodyInfoList" [class.selected]="fieldsSel.includes(row.field)">
        <ng-container *ngIf="!row.hide">
          <ng-container  *ngFor="let value of row.values; let i = index">
            <td [class.first-td]="i === 0">
              <mat-icon *ngIf="i === 0" (click)="onShowGraphClick(row)" class="graph-icon">visibility</mat-icon>
              <span [ngClass]="{'positive' : value > 0}">{{value}}</span>
              <mat-icon *ngIf="i === 0 && row.canExpand" (click)="onExpandRowClick(row)" class="expand-icon">expand_more</mat-icon>
            </td>
          </ng-container>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>


