table {
  display: block;
  white-space: nowrap;
  overflow-y: scroll;
  overflow-x: auto;
  border-collapse: collapse;
  border: 1px solid black;
  max-height: 72vh;

  tr, td, th {
    border: 1px solid #bfbfbf;
    text-align: center;
    padding: 2px 4px;

    span {
      color: #bf6868;
    }

    span.positive {
      color: #789974;
    }

    &.selected {

      .graph-icon {
        color: blue;
      }
      
    }
  }

  tr:hover {
    background-color: #f5f5f5;
  }

  .first-td {
    position: sticky;
    left: 0;
    z-index: 2;
    background: white;
    text-align: initial;

    &:hover {
      background-color: #f5f5f5;
    }

    mat-icon {
      cursor: pointer;
    }

    .graph-icon {
      position: relative;
      top: 1px;
      font-size: 21px;
      margin-left: 3px;
    }

    span {
      color: black;
      position: relative;
      margin: 8px;
      top: -4px;
    }

    .expand-icon {
      position: relative;
      top: 3px;  
    }
  }
}
  
  