<mat-form-field appearance="fill">
    <mat-label>Fields</mat-label>
    <mat-select [formControl]="fieldsControl" multiple (selectionChange)="onSelectionChange($event)">
        <mat-option *ngFor="let field of fields" [value]="field">{{field}}</mat-option>
      </mat-select>
  </mat-form-field>
