.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: -webkit-fill-available;
    gap: 10px;

    .calculators-container {
        display: flex;
        justify-content: space-between;
    }

    .options {
        display: flex;
        gap: 10px;
    }

    textarea {
        height: 600px;
    }
}