<div class="container">
    <div class="calculators-container">
        <app-calculator-projected-price></app-calculator-projected-price>
        <app-calculator-cagr></app-calculator-cagr>
    </div>
    <div class="options">
        <button class="button" (click)="getDates(textInput)">Get dates</button>
        <button class="button" (click)="setActualPrices(textInput)">Set actual prices</button>
        <button class="button" (click)="processStocks(textInput)">Process Stocks</button>
    </div>
    <textarea #textAreaStock matInput name="text" [(ngModel)]="textInput" (ngModelChange)="textAreaChange()"></textarea>
</div>

