<div class="stocks-view-container">
  <mat-icon  fontIcon="save" (click)="onSaveSettingClick()"></mat-icon>
  <app-setting-selector [columnsSetting]="filterList" [title]="'Filters'" [selectorType]="'filter'" (columnSelectedEmitter)="filterTable($event)"></app-setting-selector>
  <app-setting-selector [columnsSetting]="viewList" [title]="'Views'" (columnSelectedEmitter)="setFieldsTable($event)"></app-setting-selector>
  <app-stocks-table [fields]="fieldsTable" [stocks]="stocksFiltered"></app-stocks-table>
</div>


