<mat-tab-group  animationDuration="0ms">
    <mat-tab label="Income"> 
        <app-expandable-table [info]="incomeInfo" (fieldsSelected)="onIncomeFieldsSelected($event)"></app-expandable-table>
    </mat-tab>
    <mat-tab label="Balance"> 
        <app-expandable-table [info]="balanceInfo" (fieldsSelected)="onBalanceFieldsSelected($event)"></app-expandable-table>
    </mat-tab>
    <mat-tab label="Cash Flow">
        <app-expandable-table [info]="cashFlowInfo" (fieldsSelected)="onCashFlowFieldsSelected($event)"></app-expandable-table>
     </mat-tab>
     <mat-tab label="Ratios">
        <app-expandable-table [info]="ratiosInfo" (fieldsSelected)="onRatiosFieldsSelected($event)"></app-expandable-table>
     </mat-tab>
  </mat-tab-group>
