<mat-card class="stats-details">
    <mat-card-content>
      <mat-table [dataSource]="stats">
        <ng-container matColumnDef="field">
          <mat-header-cell *matHeaderCellDef> Field </mat-header-cell>
          <mat-cell *matCellDef="let stat"> {{ stat.field }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="value">
          <mat-header-cell *matHeaderCellDef> Actual Value </mat-header-cell>
          <mat-cell *matCellDef="let stat"> {{ stat.value }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="avgEst">
          <mat-header-cell *matHeaderCellDef> Est </mat-header-cell>
          <mat-cell *matCellDef="let stat"> {{ stat.avgEst }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lowEst">
            <mat-header-cell *matHeaderCellDef> Low Est </mat-header-cell>
            <mat-cell *matCellDef="let stat"> {{ stat.lowEst }} </mat-cell>
          </ng-container>
  
        <ng-container matColumnDef="highEst">
          <mat-header-cell *matHeaderCellDef> High Est </mat-header-cell>
          <mat-cell *matCellDef="let stat"> {{ stat.highEst }} </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>
