@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './styles/variables.scss';


html, body {
    margin: 0;

    div.tooltip {
        position: absolute;
        text-align: center;
        padding: 6px;
        font: 12px sans-serif;
        background: #404040;
        color: #e9e9e9;
        border: 0px;
        border-radius: 8px;
        pointer-events: none;
      }

      .multiselect-dropdown .dropdown-btn .selected-item {
        max-width: none;
      }
}

app-stocks-table {
  position: relative;
  padding-top: 25px;
  overflow: auto;
}

// Example usage of theme colors
body {
  background-color: map-get($theme-colors, light);
  color: map-get($theme-colors, dark);
  font-family: 'Arial, sans-serif';
}

.header {
  background-color: map-get($theme-colors, dark) !important;
  color: map-get($theme-colors, light);
  padding: 20px;

  span {
    color: map-get($theme-colors, light);
  }
}

.footer {
  display: flex;
  background-color: map-get($theme-colors, dark) !important;
  color: map-get($theme-colors, light);
  padding: 20px;
  gap: 10px;
  text-align: center;
}

button.button {
  background-color: map-get($theme-colors, primary);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:disabled {
    background-color: map-get($theme-colors, disabled-bg);
    color: map-get($theme-colors, disabled-text);
    cursor: not-allowed;
  }

  &.selected {
    background-color: darken(map-get($theme-colors, primary), 30%);
  }

  &:hover {
    background-color: darken(map-get($theme-colors, primary), 10%);
  }

  &.secondary {
    background-color: map-get($theme-colors, secondary);

    &:hover {
      background-color: darken(map-get($theme-colors, secondary), 10%);
    }
  }

  &.success {
    background-color: map-get($theme-colors, success);

    &:hover {
      background-color: darken(map-get($theme-colors, success), 10%);
    }
  }

  &.danger {
    background-color: map-get($theme-colors, danger);

    &:hover {
      background-color: darken(map-get($theme-colors, danger), 10%);
    }
  }

  &.warning {
    background-color: map-get($theme-colors, warning);

    &:hover {
      background-color: darken(map-get($theme-colors, warning), 10%);
    }
  }

  &.info {
    background-color: map-get($theme-colors, info);

    &:hover {
      background-color: darken(map-get($theme-colors, info), 10%);
    }
  }

  &.light {
    background-color: map-get($theme-colors, light);
    color: map-get($theme-colors, dark);

    &:hover {
      background-color: darken(map-get($theme-colors, light), 10%);
    }
  }

  &.dark {
    background-color: map-get($theme-colors, dark);

    &:hover {
      background-color: lighten(map-get($theme-colors, dark), 10%);
    }
  }
}


textarea {
  width: 100%;
}

mat-icon {
  color: map-get($theme-colors, primary) !important;
  cursor: pointer;

  &:hover {
    color: darken(map-get($theme-colors, primary), 10%) !important;
  }
}

span {
  color: black
}

input {
  height: 30px;
  border: none;
  background: #f5f5f5;
  padding-left: 14px;
  border-radius: 8px;

  &:focus-visible {
    outline: none;
  }

  &:hover {
    background: #e9e9e9 !important;
  }
}

mat-form-field.input-field {
  height: 30px;

  .mat-mdc-form-field-icon-suffix {
    padding: 0;
    margin-top: -25px;
  }

  .mat-mdc-text-field-wrapper {
    padding: 0;
    border-radius: 8px;
    background: #f5f5f5;
  }
  
  .mat-mdc-form-field-bottom-align {
    display: none;
  }

  .mat-mdc-form-field-infix {
    padding: 3px 0 0 14px;
  }

  .mdc-line-ripple {
    display: none;
  }
}