<div class="dialog-container">
  <div class="header">
    <span>Settings</span>
  </div>
  <mat-dialog-content class="content">
    <input [(ngModel)]="view.name">
    <form class="example-form">
      <mat-form-field class="input-field">
        <input #input
              type="text"
               placeholder="Search"
               matInput
               [formControl]="myControl"
               (input)="filter()"
               (focus)="filter()"
               (keydown.enter)="onOptionClicked(null)"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions" [value]="option"
           (click)="onOptionClicked(option)">{{option}}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <div class="column-row" *ngFor="let c of columns; let i = index">
      <div class="column-fields">
        <span>{{c.field}}</span>
        <div class="filter-options" *ngIf="view.type === 'filter'">
          <mat-form-field class="input-field">
            <mat-select disableRipple [(value)]="c.comparator">
              <mat-option [value]="comp" *ngFor="let comp of comparatorOptions">{{comp}}</mat-option>
            </mat-select>
          </mat-form-field>
          <input type="number" [(ngModel)]="c.valueMin">
          <input type="number" [(ngModel)]="c.valueMax">
        </div>
      </div>
      <div class="options">
        <mat-icon  fontIcon="arrow_upward" (click)="moveUp(i)"></mat-icon>
        <mat-icon  fontIcon="arrow_downward" (click)="moveDown(i)"></mat-icon>
        <mat-icon  fontIcon="delete" (click)="onDeleteColumnClick(c)"></mat-icon>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="footer">
    <button class="button" mat-dialog-close>Cancel</button>
    <button class="button" (click)="onDialogClose()" [mat-dialog-close]="view" cdkFocusInitial>Save</button>
  </mat-dialog-actions>
</div>

