.dialog-container {


    .content {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .input-field {
            width: -webkit-fill-available;
        }

        .column-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2px;

            .column-fields {
                display: flex;
                align-items: center;
                gap: 10px;

                .filter-options {
                    display: flex;
                    gap: 10px;
                }
            }
            
            .options {
                display: flex;
                align-items: center;
                gap: 2px;
            }

            &:hover {
                background: #f3f3f3;
            }
        }
    }
}

