<div class="filter-rows">
    <div class="columns">
        <span>{{title}}</span>
        <button class="button" *ngFor="let c of columns" [ngClass]="{'selected': c.id === columnSelected?.id}" (click)="onColumnClick(c)">{{c.name}}</button>
    </div>
    <div class="options">
        <mat-icon fontIcon="add" (click)="openFieldsSelector(null)"></mat-icon>
        <mat-icon fontIcon="edit" (click)="openFieldsSelector(columnSelected)"></mat-icon>
        <mat-icon fontIcon="delete" (click)="onDeleteColumnClick(columnSelected)"></mat-icon>
    </div>
</div>
