.filter-rows {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;

    .columns {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .options {
        display: flex;
        gap: 2px;
        align-items: center;
    }
}